{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block title %}
    RECursion Events
{% endblock title %}
{% block Class_active %}active{% endblock %}
{% block content %}
<body>

    <div class="container" style="margin-top: 2%">
    <h1> Update Event Details:</h1>
    <li>
        {% if perms %}
        <div class="jumbotron shadow-sm p-3 mb-5 bg-white rounded">
        <div >

                <form method="POST" enctype="multipart/form-data">
                  {% csrf_token %}
                  {{ upform|crispy }}
                  {{ upform.media }}
                   <input type="submit" value="Submit">
                </form>
              </div>
              {% else %}
              <p><a href="/login/">LOGIN</a></p>
            </div>
        {% endif %}
    </li>
</div>


</body>
{% endblock %}